commands.txt
# ---------------------------
# Terraform
# ---------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
.env
# ---------------------------
# Python / Flask
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
*.egg-info/
pip-wheel-metadata/

# -----------------------
create_DB_sql.txt